@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    
    font-family: 'Work Sans', sans-serif;

}
.description{
    text-align: center;
    font-family: 'Marck Script', cursive;;
    margin:10px;

}
.tag{
    color: brown;
}
.feast{
    font-size: 2rem;
    color:rgb(230, 167, 9);
}

.header{
    color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    height: 80px;
    box-shadow: 0 0 10px 0 black;

}

.nav-links{
   
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    gap:1rem;
    
}

.nav-link {
    cursor: pointer;
    height: 100%;
    position: relative;
}

.nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: -12px;
    border-radius: 10px;
    display: block;
    background-color: rgb(124, 9, 9);
    width: 100%;
    height: 5px;
}
.logo{
            width: 150px;
}

.nav-items a{
    font-weight: bold;
    text-decoration: none;
        color: brown;
}



.section {
    height: 330px;
    width: 100%;
    margin: 0px 0 10px;
   
    background-color: brown;
   
}



.searchbanner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-bar {

    border: 2px solid brown;
    padding: 10px;
    border-radius: 8px;
    font-family: inherit;
    color: brown;
    width: 40vh;
   
}
.input{
    display: flex;

}
.search-bar:focus{
    outline: 0;
}
.search-button {
    padding: 12px;
    border-radius: 8px;
    background-color: brown;
    color: white;
    font-family: inherit;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}
.cart{
 background-color: goldenrod;
 color: brown;
 border-radius: 50%;
 padding: 4px;
}


.shimmerCard{
    
            margin: 10px;
            width: 300px;
            padding: 10px;
            
            height: 320px;
        }
  .shimmerImage{
    width: 280px;
    height: 176px;
    background-color: rgb(201, 201, 201);
    margin:10px 0 5px;
  }     
  .shimmerTitle{
    width:200px;
    height: 20px;
    background-color: rgb(201, 201, 201);
  } 
  .shimmerSubTitle {
      width: 280px;
      height: 10px;
      background-color: rgb(201, 201, 201);
      margin: 5px 0;
  }
  .shimmerRating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0;
  }
  .shimmerRatebit{
    width: 50px;
    height: 15px;
    background-color: rgb(201, 201, 201);
  }
  .shimmerOrder{
    width: 280px;
    height: 35px;
    background-color: rgb(201, 201, 201);
    border-radius: 4px;
  }
  .shimmerList{
   
            margin: 10px auto;
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        
  }
  .notfoundImage{
    width: 300px;
    margin: 20px;
  }
  .notFound{
    
    display: flex;
    flex-direction: column;
  }

  .goback{
    margin:30px;
    border: none;
    padding: 10px;
    font-family: inherit;
    background-color: brown;
   
  }
  .goback a{
    text-decoration: none;
    color: white;
  }

.restuarant-card{
    margin:10px;
    width:300px;
    padding:10px;
    height: 330px;
    font-size: 0.8rem;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    
}
.restuarant-card:hover{
    box-shadow: 0 0 4px 0 black;
}
.restuarant-image{
    width:100%;
    
    object-fit: cover;
}
.restuarant-list{
    margin:10px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.rating{
    color: white;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2px;
   
    

}
.order{
    
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
       
}
.order-button{
    
    font-family: inherit;
    padding:8px;
    background-color: brown;
    color: white;
    border:none;
    width: 100%;
    border-radius: 6px;
    margin-top:4px;
}
.log{
    font-family: inherit;
    font-size: 1rem;
    background-color: brown;
    color: white;
    padding:8px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.rest-name{
    margin: 5px 0 2px;
}
.badRating{
   background-color: red; 
   border-radius: 10px;
}
.goodRating{
    background-color: rgb(24, 134, 24);
    border-radius: 10px;
}
.section{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.section img{
   width:240px;
   height:260px;
   object-fit: cover;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: brown;
    margin: 100px 0 0;
    color: white;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.footerSectionOne{
    display: flex;
    justify-content: space-between;
}
.footerlist {
    list-style: none;
}
.footerlist li{
    margin: 10px;
}

.heading{
    color: rgb(206, 204, 204);
}
.footerSectionTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    padding: 15px;
}
.socials{
    display: flex;
    gap:2rem;
}
.hidden {
    display: flex;
}
@media screen  and (max-width:768px) {
    .mobile{
        display: none;
    }
    .search-bar{
        width: 300px;
    }
    .header{
        justify-content: space-between;
    }
        .searchbanner {
            flex-direction: column;
            gap:2rem;
        }
       
    
        .section{
            display: none;
        }
        .hidden{
            display: none;
        }
        .restuarant-card {
            
            width: 300px;
           
        }
            .restuarant-list{
   
    width: 100%;
    
}

            
}

